*
	&::selection /* WebKit/Blink Browsers */
		background darken($Azul[0], 40%)
		color #fff
		text-shadow 0px 0px 5px rgba(255, 255, 255, .75)

	&::-moz-selection /* Gecko Browsers */
		background darken($Azul[0], 40%)
		color #fff
		text-shadow 0px 0px 5px rgba(255, 255, 255, .75)

::-webkit-file-upload-button
	cursor pointer

a
	color $Azul[0]
	transitionBase()

	&:hover
		color darken($Azul[0], 40%)
		text-decoration underline

	img
		border 0 !important

body
	background-color #fff
	color $Azul[0]
	font-family $FontStack
	font-size 1.4rem
	font-weight $Light



h1,h2,h3,h4,h5,h6
	color $Azul[0]
	font-family $FontTitle
	font-weight $Bold
	margin 0.5rem auto


input,
input[type="email"],
input[type="password"]
input[type="text"],
select,
textarea,
	background-color transparent
	border none
	padding 0.5rem 1rem
	transitionBase()
	width 100%
	
	&:active
	&:focus
		outline none !important

label
	color $Azul[0]
	font-weight $Light
	margin-bottom 0

select
	cursor pointer
	padding 0

p
	font-size 1.4rem
	margin 0.5rem auto
