.col
	&-btn
		float left
		padding-top 1.2rem
		width 2.4rem
		
	&-contacto,
	&-social
		display none
		make-sm-column(4)
		make-sm-column-offset(4)
		
	&-contacto
		make-md-column-offset(4)

	&-logo
		clear none
		height auto
		transitionBase()
		make-xs-column(4)
		make-xs-column-offset(1)
		
		svg
			cuadrado(100%)
		

	&-selectores
		padding-top 1.2rem
		make-xs-column(6)
		make-sm-column-push(6)
		transitionBase()
	&-social
		clear both
	
.directorio
	make-xs-column(12)	
	make-sm-column(10)	
	make-sm-column-offset(1)	
	make-md-column(8)	
	make-md-column-offset(2)	

.map
	&-text
		make-xs-column(12)
		make-sm-column(6)
	
	&-img
		display none
		make-xs-column(6)
		make-sm-column(6)

.sabor
	&-img,
	&-text
		make-xs-column(12)
		make-sm-column(6)
	