//Articulos del home
.art
	&-header

		h1
			color #fff
			line-height 1.2
			margin 0 auto 1rem
			padding 0.5rem
			font-weight $Normal
			
			span
				bgHighlight()
				
		img
			img-responsive()
				
	&-home
		max-height 63rem
		overflow hidden
		position relative
		width 100%
		
		a
			display block
			
		.btn
			transitionBase()

		img
			img-responsive()
			

		.container-hover
			background-color $Rojo
			bottom 0
			box-shadow inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
			left 0
			padding 0.5rem
			padding-top 1rem
			position absolute
			transitionBase()
			width 100%
			
//Containers elements
.container
	&-404
		h1
			color #fff
			font-size 11rem
			letter-spacing 0.4rem
			line-height 1
			margin-bottom 2rem
			position relative
			strokeText(  $Rojo )
			text-align left
			font-weight $Normal
			transitionBase()
			z-index 2
			
			&::before
				bottom -0.2rem
				color #fff
				content attr(data-title)
				left @bottom
				mix-blend-mode color-burn
				pointer-events none
				position absolute
				text-shadow -0.3rem 0.3rem 0px #fff
				transitionBase()
				z-index 2
				
		h2
			font-size 4rem
			font-weight $Normal
			margin-bottom 3rem
			font-family $FontStack

		img
			img-responsive()
			display none
			position relative
			transform translateY(7rem)
			z-index -6
			

	&-map
		img
			img-responsive()
			
	&-map-header
		
		h1
			color #fff
			font-size 3rem
			letter-spacing 0.4rem
			line-height 1
			margin-bottom 2rem
			position relative
			strokeText(  darken($Rojo, 45%) )
			text-align left
			transitionBase()
			z-index 2
			
			&::before
				bottom -0.2rem
				color darken($Rojo, 40%)
				content attr(data-title)
				left @bottom
				pointer-events none
				position absolute
				text-shadow -0.3rem 0.3rem 0px lighten($Rojo, 40%)
				transitionBase()
				z-index 2
		
	&-mapa-home

		h2, p, a
			color #fff
			text-align left
		
		h2
			font-size 2rem

		p
			padding-left 2rem
			

		svg
			path
				transitionBase()
			
		.btn
			display block
			margin 1rem 0
			margin-left 2rem
			max-width 14.6rem
			text-align center
			
	// &-sabor
	// 	&:nth-of-type(even)
	// 		.sabor-ornament
	// 			left 4rem
	// 	&:nth-of-type(odd)
	// 		.sabor-ornament
	// 			right 4rem
		
	&-map
		.text-region
			h4
				font-size 1.7rem
				
				&::before
					height 4.5rem
					
				&.centro-america
					left 27rem
					top 16.5rem
					
				&.colombia
					left 34.9rem
					top 21.6rem
				&.mundo
					left 15rem
					top 25.3rem
					
				&.region-andina
					left 38rem
					top 21.4rem
			
	&-select-sabor
		.title
			background linear-gradient(to bottom, $Rojo 18%, lighten($Rojo, 40%) 100%)
			color #fff
			display none
			font-size 4rem
			margin 0 auto
			padding 10rem 0 3rem
			text-align center
			text-transform uppercase
			transitionBase()


//Entradas del blog
.entry
	background-color $Rojo
	border-radius 5px
	box-shadow 0px 5px 5px 0px rgba(0, 0, 0, 0.25)
	clearfix()
	margin 0 auto 1rem
	max-height 28rem
	overflow hidden
	position relative
	transitionBase()
	
	a
		display block
		font-family $FontTile
	
	img
		img-responsive()
		
	.btn
		&-quick
			display none
		&-view
			display block
			margin 0 auto
			
		&:hover
			background-color #fff
			color $Rojo
				
	
	&-hover
		background-color $Rojo
		border-radius 5px
		bottom 0
		box-shadow inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
		left 0
		padding 0.5rem
		padding-top 1rem
		position absolute
		transitionBase(,,cubic-bezier(.73,0,.21,.96))
		width 100%



//Indicador scroll
.list-indicator
	background-color $Rojo
	circ(5rem)
	color #fff
	opacity 0
	padding 1rem
	position fixed
	right 1rem
	top 50%
	transitionBase()
	z-index 12
	
	&::after
		background-color $Rojo
		content ''
		cuadrado(50%)
		display block
		left 50%
		pointer-events none
		position absolute
		top 50%
		z-index -1

	.letter
		cuadrado(4.9rem)
		font-size 4rem
		left 50%
		margin 0
		padding 0
		position absolute
		text-align center
		text-transform uppercase
		top @left
		transform translate3d(-@left,-@left,0)
		
	&.active
		opacity 0.99

.lista-paises
	background-color darken($Rojo, 40%)
	position absolute
	right 2rem
	top 100%
	opacity 0
	z-index 2
	transitionBase()
	a
		color #fff
	
	ul
		list-style-type none
		margin 0
		max-height 0
		overflow hidden
		padding 0
		transitionBase()
		
		li
			display block
			a
				display block
				padding 1rem 1.5rem
				text-align center
				
				&:hover
					background-color lighten($Rojo, 40%)
	&.active
		opacity 0.99
		
		ul
			max-height 40rem	

//Directorio mapa
.map
	&-img
		.map
			svg
				cuadrado(100%)
				
	&-big
		svg
			cursor pointer
			display block
			margin 1rem auto
			
			path
				opacity 0.5
				transitionBase()
				
	&-region
		color #fff
		font-size 4rem
		position relative
		text-align left
		font-weight $Normal
		margin-bottom 1rem
		strokeText(darken($Rojo, 20%))
		z-index 2
		
		&::before
			bottom -0.2rem
			color $Rojo
			content attr(data-title)
			mix-blend-mode multiply
			left @bottom
			pointer-events none
			position absolute
			z-index 2
		
	&-region-list
		font-size 1.6rem
		list-style-type none
		padding-left 4rem
		
		li
			a
				display block
				padding 1rem 0
				position relative
				
				span
					color lighten($Rojo, 40%)
					display block
					font-size 3rem
					left -4.1rem
					position absolute
					text-align center
					text-transform uppercase
					top 0%
					width 4rem
	
	

//Interna sabores
.sabor
	h3
		color #fff
		font-size 4rem
		position relative
		position relative
		strokeText()
		text-align left
		z-index 2
		
		&::before
			bottom -0.1rem
			color $Rojo
			content attr(data-title)
			left @bottom
			pointer-events none
			position absolute
			z-index 2
			

	p
		color #fff
		

	&-img
		max-width 70%
		img
			img-responsive()
			
	&-text
		h3, p
			color #fff
			
		h3
			color #fff
			font-size 4rem
			font-weight $Normal
			margin-bottom 1rem
			position relative
			strokeText(lighten($Rojo, 20%))
			text-align left
			transitionBase()
			z-index 2
			
			&::before
				bottom -0.2rem
				color #fff
				content attr(data-title)
				mix-blend-mode multiply
				left @bottom
				pointer-events none
				position absolute
				z-index 2
		
	&-ornament
		bottom -25%
		height auto
		pointer-events none
		position absolute
		right -20%
		width 80%
		z-index 2

		img
			img-responsive()

.select
	&-flavor,
	&-pais
		cursor pointer
		display inline-block
		vertical-align top
		transitionBase()
		width 45%

		a
			color #fff
		
		img
			img-responsive()
			
		.indicator
			background-color #fff
			circ(4.8rem)
			margin 0 auto
			position relative
			transitionBase()
			
		.selected
			circ(4.3rem)
			left 50%
			margin auto
			overflow hidden
			position absolute
			top 50%
			transform translate3d(-50%,-50%,0)
			transitionBase()
	
	&-flavor
		.selected			
			background-color lighten($Rojo, 40%)
			
			img
				display block
				margin auto
				max-width 60%

	&-pais
		a
			display block
			font-size 1.3rem
			line-height 0.9
			margin-top 0.5rem


				
.share-buttons
	.social-buttons
		position fixed
		right 1.9rem
		z-index 15
		bottom 6rem
		
		a
			background-color $Rojo
			border-radius 100%
			cuadrado(4.6rem)
			display block
			margin 0.5rem auto
			opacity 0
			transform scale(0)
			
			img
				img-responsive()
				

	&.active
		.social-buttons
			a
				opacity 0.99
				transform scale(1)
				
				&:nth-of-type(1)
					transition-delay (0.5s)
					
				&:nth-of-type(2)
					transition-delay (0.25s)
		

.title-blog
	color #fff
	font-size 3rem
	letter-spacing 0.4rem
	position relative
	margin 1rem auto
	strokeText()
	transitionBase()
	z-index 2
	
	&::before
		bottom -0.2rem
		color $Rojo
		content attr(data-title)
		left -0.2rem
		pointer-events none
		position absolute
		z-index 2
		
.text-region
	h4
		color #fff !important
		font-size 1.4rem
		font-weight $Normal
		position absolute
		transitionBase()
		opacity 0
		
		&::before
			content ''
			width 1px
			height 3rem
			background-color #fff
			display block
			position absolute
			left -5px
			top 0
			
		&.active
			opacity 0.99
		&.centro-america
			left 10rem
			top 9rem
		&.colombia
			left 15rem
			top 11.6rem
			
		&.mundo
			top 15.3rem
			&::before
				bottom 0
				left initial
				right -5px
				top initial

		&.region-andina
			left 17rem
			top 11.4rem
		
#map-home
	g
		cursor pointer