.container
	&-carousel
		bottom 0.8rem
		left 50%
		position absolute
		text-align center
		transform translate3d(-50%,0,0)
		width 79.7rem

	&-mundos-nestle
		background-color $Azul[0]
		height 50rem
		margin 0 auto
		overflow hidden
		position relative
		width 117rem
		z-index 1
			

	&-slider
		position relative
		z-index 1