.container
	&-carousel
		position relative
		margin 2rem auto

	&-mundos-nestle
		background-color $Azul[0]
		box-shadow 0px 0px 10px 10px yellow
		height 55rem
		margin 0 auto
		width 117rem
		position relative
		z-index 1
			

	&-slider
		position relative
		z-index 1