footer
	background-color $Rojo
	color #fff
	padding-bottom 1rem
	padding-top @padding-bottom
	text-align center

	h3
		color #fff
		font-weight $Normal
		text-align left
		margin 1rem auto

	.input
		input, textarea
			background-color rgba(255, 255, 255,0.45)
			color #fff
		label
			color #fff
			
	.logo-colombina
		display block
		height auto
		margin 1rem auto
		max-width 11rem
		
		svg
			cuadrado(100%)
			

	.legales
		a
			color #fff !important
			font-size 1.2rem
			padding 0 0.5rem
			text-transform uppercase
			