@keyframes menu-animation
	0%
		opacity 0
		transform scale(0.04) translateY(300%)
		
	40%
		transform scale(0.04) translateY(0)
		transition ease-out
		
	60%
		opacity 1
		transform scale(0.02) translateY(0)
		
	61%
		transform scale(0.04)
		
	99.9%
		height 0
		border-radius 100%
		padding-bottom @border-radius
		
	100%
		border-radius 0
		transform scale(2)
		height 100%
		padding-bottom @border-radius
		

@keyframes sabor-title
	0%
		overflow hidden
		max-width 0
		

	99%
		overflow hidden
		max-width 60%

	100%
		overflow visible
		max-width 60%

@keyframes sabor-ornament
	0%
		transform scaleX(0) scaleY(0)
	
	35%
		transform scaleX(0.5) scaleY(1)
	
	50%
		transform scaleX(1) scaleY(1.5)
	
	75%
		transform scaleX(1.5) scaleY(1)
	
	100%
		transform scaleX(1) scaleY(1)