@media (min-width: $screen-sm ) and (orientation:landscape)
	.container-sabor
		.sabor-ornament
			animation 0.4s ease-in-out reverse backwards paused
			transform scaleX(0) scaleY(0)
			transform-origin bottom center
			
		.sabor-img
			opacity 0
			transitionBase()
			transition-delay 0.6s
			
		.sabor-text	
			h3
				animation 0.4s ease-in-out reverse backwards paused
				max-width 0
				overflow hidden
				transform-origin center left
				
			p
				opacity 0
				transitionBase()
				transition-delay 0.6s
				
		
		&.active
			.sabor-img
				opacity 0.99
				
			.sabor-ornament
				animation-delay 0.8s
				animation-direction normal
				animation-fill-mode forwards
				animation-name sabor-ornament
				animation-play-state running
				
			.sabor-text	
			 			
				h3
					animation-delay 0.4s
					animation-direction normal
					animation-fill-mode forwards
					animation-name  sabor-title
					animation-play-state running
				
				p
					opacity 0.99
					// transition-delay 0.6s

@media (min-width: 900px ) and (max-height: 700px ) and (orientation:landscape)
	.container-bottom-sheet
		.bs-header
			h2
				font-size 3.5rem
				max-width 60%
				
			img
				margin-left 50%
				max-width 50%

@media (min-width: 1000px ) and (max-height: 700px ) and (orientation:landscape)
	.container-bottom-sheet
		.bs-header
			img
				margin-left 60%
				max-width 40%
				
	.entry
		.entry-hover
			.btn
				font-size 1.3rem
				width 48%
