//Carousel//
.item
	display inline-block
	max-width 9rem
	padding 0 1.5rem
	
	img
		img-responsive(block)

//Carousel
.slick
	&-next,
	&-prev
		background none
		border none
		color #fff
		font-size 0
		height 3rem
		overflow hidden
		position absolute
		text-align center
		top 50%
		transform translate3d(0,-50%,0)
		width 2.5rem
		z-index 8
	
		&::before
			position absolute
			display block
			text-align center
			font-family $Icons
			cuadrado(100%)
			centrarAb()
			font-size 2.5rem
		&:focus, &:active
			outline none !important
			
	&-next
		right -2.5rem
		&::before
			content '\e080'
			
	&-prev
		left -2.5rem
		&::before
			content '\e079'

//slider categorias 
.slide
	box-shadow 0px 5px 5px 0 rgba(0,0,0,0.25)
	left 0
	// opacity 0
	overflow hidden
	pointer-events none
	// position absolute
	top 0
	transitionBase()
	width 100%
	z-index 1

			
	&-categoria
		background-color $Azul[1]
		box-shadow 0px 0px 5px 0px rgba(0, 0, 0, 0.25)
		left 1rem
		max-width 24rem
		padding 1rem
		position absolute
		text-align center
		text-transform uppercase
		top 0
		z-index 2
		
		h3
			color #fff
			
	
	&-content
		bottom 5.5rem
		position absolute
		right 14.3rem
		text-align center
		width 34rem
		z-index 2
		
		h2
			border-top 2px solid transparent
			font-size 1.8rem
			line-height 1
			padding-top 1rem
			text-transform uppercase
		

		.slide-dummy
			max-width 33rem
			text-align center
			margin 0 auto
			
			img
				img-responsive()
				display inline-block
				



	&-hover
		background-color rgba(255,255,255,0.8)
		opacity 0
		position absolute
		pointer-events none
		text-align center
		transitionBase()
		transform translateY(-2rem)
		cuadrado(100%)
		z-index 6
		
		&:hover, &.active
			opacity 0.99
			pointer-events all
			transform none
			
		.marca
			border-radius 100%
			display inline-block
			margin 2rem 1rem
			padding 0
			box-shadow 0px 0px 5px 0px rgba(0, 0, 0, 0.25)
			transitionBase()
			opacity 0
			transform translateY(-2rem)
			cuadrado(11.8rem)
			overflow hidden
			
			img
				img-responsive(block)
			
		h2
			font-size 2.3rem
			line-height 1
			margin 3rem auto
			max-width 40rem
			text-transform uppercase
			
		&.active
			.marca
				opacity 0.99999
				transform translateY(0)
				
				for x in (1..12)
					&:nth-of-type({x})
						transition-delay (0.25s*x)
			
	
	&-intro-txt
		position absolute
		right 9rem
		text-align center
		top 2.5rem
		transitionBase()
		width 30rem
		z-index 2
		
		&.unactive
			opacity 0.35
			pointer-events none
		
		h2
			font-size 3.5rem
			line-height 1
			text-transform uppercase
			
		img
			img-responsive(block)
			margin 0 auto
			
		p
			font-size 1.8rem
			
	//Colores
	for cat, val in categorias
		&-{cat}
			.slide-content,
			.slide-hover
				h2
					color val
					
			.slide-content
				
				h2
					border-color val
						
			if cat == 'nutricion'					
				.slide-categoria
					background-color val
			if cat == 'mascotas'
				.slide-categoria
					background-color val
		

	// &:hover, &.active

	&.active
		opacity 0.99
		pointer-events all
	
			
			
			
	.img-slide
		img-responsive(block)
		