.u-blur
	.container-fluid[class^="container-"]:not(.container-bottom-sheet), .menu
		filter blur(10px)
			
.u-no-scroll
	overflow hidden
	position fixed
	width 100%
	
	&::before
		background-color rgba(0, 0, 0, .75)
		content ''
		display block
		centrarAb()
		cuadrado(100%)
		z-index 10


