//Colores Social Media
$Facebook          = #4d6ab0
$Google            = #e2492a
$Twitter           = #5ba8df
$Azul              = #3973bf #00a7de

//Categorias
categorias = {	
	cafe: #e31d1a,
	dolce: #000,
	modificadores: #39a047,
	galletas: #3771c3,
	recubiertos: #d02434,
	lacteos: #fca931,
	cereales: #39a047,
	culinarios: #f0bd00,
	bebidas: #004ea1,
	nutricion: #00a74d,
	mascotas: #ea0097
}



//Fonts
$FontTitle         = 'Varela Round', sans-serif
$FontStack         = 'Roboto', sans-serif
$Icons             = 'Glyphicons Halflings'

//Font weights
$Bold              = 700
$Light             = 300
$Normal            = 400

//Site grid spacing and width
$Gutter            = 0.5rem
$SiteWidth         = 110rem

//Screen Sizes - Rewrite Bootstrap

// $screen-xs      = 320px // 480px
$screen-sm         = 770px // 768px
// $screen-md  //992px
$screen-lg         = 1100px // 1200px
$grid-gutter-width = $Gutter
