//Menu
nav.menu
	ul
		li(class={active: titulo == "Cafe"})
			a(href="cafes.html") café

		li(class={active: titulo == "NDC"})
			a(href="ndc.html") nescafé dolce gusto
	

		li(class={active: titulo == "Modificadores"})
			a(href="modificadores.html") Modificadores


		li(class={active: titulo == "Galletas"})
			a(href="galletas.html") galletas
		
		li(class={active: titulo == "Recubiertos"})
			a(href="recubiertos.html") Recubiertos &amp; Chocolates

		li(class={active: titulo == "Lacteos"})
			a(href="lacteos.html") Lácteos

		li(class={active: titulo == "Cereales"})
			a(href="cereales.html") Cereales

		li(class={active: titulo == "Culinarios"})
			a(href="culinarios.html") Culinarios

		li(class={active: titulo == "Bebidas"})
			a(href="bebidas.html") Bebidas


		li(class={active: titulo == "Nutricion"})
			a(href="nutricion.html") Nutrición

		li(class={active: titulo == "Mascotas"})
			a(href="mascotas.html") Mascotas
///-Menu