//Menu
nav.menu(class={'menu-interna': titulo != 'Home' })
	ul
		li(class={active: titulo == "Cafe"})
			a(href="cafes.html", data-category="cafe") café

		li(class={active: titulo == "Dolce"})
			a(href="dolce.html", data-category="dolce") nescafé dolce gusto
	

		li(class={active: titulo == "Modificadores"})
			a(href="modificadores.html", data-category="modificadores") Modificadores


		li(class={active: titulo == "Galletas"})
			a(href="galletas.html", data-category="galletas") galletas
		
		li(class={active: titulo == "Recubiertos"})
			a(href="recubiertos.html", data-category="recubiertos") Recubiertos &amp; Chocolates

		li(class={active: titulo == "Lacteos"})
			a(href="lacteos.html", data-category="lacteos") Lácteos

		li(class={active: titulo == "Cereales"})
			a(href="cereales.html", data-category="cereales") Cereales

		li(class={active: titulo == "Culinarios"})
			a(href="culinarios.html", data-category="culinarios") Culinarios

		li(class={active: titulo == "Bebidas"})
			a(href="bebidas.html", data-category="bebidas") Bebidas


		li(class={active: titulo == "Nutricion"})
			a(href="nutricion.html", data-category="nutricion") Nutrición

		li(class={active: titulo == "Mascotas"})
			a(href="mascotas.html", data-category="mascotas") Mascotas
///-Menu